{% extends 'layout.html' %}

{% block content%}
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">


<body>
    <div class="d-flex p-3 " id="wrapper">
        <!-- Sidebar -->
        <div class="rounded shadow bg-white" id="sidebar-wrapper">
            <div class="logo mx-5 "><a href="/"> <br>
                <!-- <h1 class="fw-bold text-black">Med-E-Sell</h1> -->
                <a href="/products"><img src="{{url_for('static', filename='img/logo.png')}}"></a></div>
            </a>
            <div class="list-group list-group-flush my-3 sidebar">
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text " onclick="show(0)"><i
                        class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"  onclick="show(1)"><i
                        class="fas fa-gift me-2" ></i>Add products</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" onclick="show(2)">
                        <i class="fas fa-trash me-2"></i>Delete Products</a>
                <a href="/logout" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                        class="fas fa-power-off me-2"></i>Logout</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0 text-white">Dashboard</h2>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold text-white" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i>{{user.name}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/products">Home</a></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>



            <div id="dashboard" class="section container-fluid px-4 ">
                <div class="row g-3 my-2 ">
                    <div class="col-md-4 ">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">{{products|length}}</h3>
                                <p class="fs-5">Products</p>
                            </div>
                            <i class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    


                <div class="row my-5">
                    <h3 class="fs-4 mb-3 ">My products :</h3>
                    <div class="col">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" width="50">#</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <th scope="row">{{loop.index }}</th>
                                    <td>{{product.name}}</td>
                                    <td>{{product.category}}</td>
                                    <td>{{product.price}} DH</td>
                                    <td>{{product.quantity}}</td>
                                    <td><a href="/delete-product/{{product.id}}"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            {%endfor%}
                               
                            </tbody>
                        </table>
                        
                    </div>
                </div>

                </div>
            </div>


            
            <div  id="products"class="section container-fluid px-4 ">
                <hr class="border border-2">
                <form class="container-fluid" action="{{ url_for('add_product') }}" method="POST" enctype="multipart/form-data">
                    <div class="container-fluid row" style="position: relative;">
                        <div class="col-lg-8 mb-3 mb-lg-0">
                        <!-- Card -->
                            <div class="card mb-3 mb-lg-5">
                                <!-- Header -->
                                <div class="card-header">
                                <h4 class="card-header-title">Product information</h4>
                                </div>
                                <!-- End Header -->
                    
                                <!-- Body -->
                                <div class="card-body">
                                <!-- Form -->
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name </label>
                    
                                    <input type="text" class="form-control" id="product_name" name="product_name" required placeholder="Give the product name" >
                                </div>
                                <!-- End Form -->
                                <div class="row">
                                    <!-- Category -->
                                    <div class="col-sm-6">
                                        <div class="mb-4">
                                            <label for="productCategoryLabel" class="form-label">Category</label>
                                            <select class="form-select" aria-label=".form-select-lg example" id="product_category" name="product_category" required>
                                                <option value="">Sélectionnez une catégorie</option>
                                                <option value="Antibiotics">Antibiotics</option>
                                                <option value="Antihistamines">Antihistamines</option>
                                                <option value="First aid kit">First aid kit</option>
                                                <option value="Feminine products">Feminine products</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- End Category -->
                                
                                    <!-- Price -->
                                    <div class="col-sm-6">
                                        <div class="mb-4">
                                            <label for="productPriceLabel" class="form-label">Price</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="product_price" name="product_price" required placeholder="0.0" aria-label="0.0">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Price -->
                                
                                    <!-- Quantity -->
                                    <div class="col-sm-6">
                                        <div class="mb-4">
                                            <label for="productQuantityLabel" class="form-label">Quantity</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="product_quantity" name="product_quantity" required placeholder="0" aria-label="0">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Quantity -->
                                </div>
                                
                                
                                <!-- End Row -->
                    
                                <label class="form-label">Description <span class="form-label-secondary">(Optional)</span></label>
                    
                                <!-- Quill -->
                                <div class="form-group shadow-textarea">
                                    <textarea class="form-control z-depth-1" id="product_description" name="product_description" required rows="3" placeholder="product description here "></textarea>
                                </div>
                                <!-- End Quill -->
                                </div>
                                <!-- Body -->
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <!-- Card -->
                            <div class="card mb-3 mb-lg-5">
                                <!-- Header -->
                                <div class="card-header card-header-content-between">
                                <h4 class="card-header-title">Media</h4>
                    
                                </div>
                                <!-- End Header -->
                    
                                <!-- Body -->
                                <div class="card-body ">
                                <!-- Dropzone -->
                                <div id="attachFilesNewProjectLabel" class="js-dropzone dz-dropzone dz-dropzone-card dz-clickable">
                                    <div class="input-group mb-3">
                                        <label class="btn btn-white btn-sm" for="product_photo">Add image here</label>
                                        <input type="file" name="product_photo" id="product_photo" class="form-control" id="inputGroupFile01" style="opacity: 0;">
                                        </div>
                                        
                                </div>
                                <!-- End Dropzone -->
                                </div>
                                <!-- Body -->
                            </div>
                        </div>    
                            <!-- End Card -->
                            <div class="card card-sm bg-white border-dark mx-2">
                                <div class="card-body">
                                <div class="row justify-content-center justify-content-sm-between">
                                    <div class="col">
                                    <button type="button" class="btn btn-danger">Discard</button>
                                    </div>
                                    <!-- End Col -->
                    
                                    <div class="col-auto">
                                    <div class="d-flex gap-3">
                                        <input type="submit" class="btn btn-primary" value="Add Product">
                                    </div>
                                    </div>
                                    <!-- End Col -->
                                </div>
                                <!-- End Row -->
                                </div>
                            </div>
                        <!-- Products content goes here -->
                        
                    </div>
                    
                </form>
                
            </div>
            <!-- Add/Delete Product Form -->
            <div  id="products"class="section container-fluid px-4 ">
                <hr class="border border-2">
                {% for product in products %}
                
                <form class="container-fluid" action="{{ url_for('decrease_quantity', product_id=product.id) }}" method="POST" enctype="multipart/form-data">
                    <div class="container-fluid row" style="position: relative;">
                        {% endfor %}
                        <div class="col-lg-8 mb-3 mb-lg-0">
                        <!-- Card -->
                            <div class="card mb-3 mb-lg-5">
                                <!-- Header -->
                                <div class="card-header">
                                <h4 class="card-header-title">Product information</h4>
                                </div>
                                <!-- End Header -->
                    
                                <!-- Body -->
                                <div class="card-body">
                            
                                <div class="mb-4">
                                    <label for="product.id" class="form-label">Id </label>
                    
                                    <input type="text" class="form-control" id="product_name" name="product_name" required placeholder="Give the product name" >
                                </div>
                                
                                <div class="row">
                                    
                                    <div class="col-sm-6">
                                        <div class="mb-4">
                                            <div class="mb-4">
                                                <label for="decrease_quantity" class="form-label">Decrease Quantity</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" id="decrease_quantity" name="decrease_quantity" required placeholder="Enter quantity to decrease">
                                                </div>
                                                
                                            </div>
                                            <button type="submit" class="btn btn-danger">Decrease Quantity</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </form>
                
            </div>
            <!-- End Add/Delete Product Form -->
                
           
    </div>
    <!-- /#page-content-wrapper -->
    

    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
{% endblock content %}