{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">

{% include 'admin/navbar.html' %}

    <div class=" row justify-content-center align-items-start vh-100 vw-100">
        <form class="p-5 bg-white shadow login " style="border-radius: 15px;" method="post" enctype="multipart/form-data">
          <!-- Email input -->
          <h2 class="text-uppercase text-center mb-5">Login</h2>
          
          <div class="form-outline mb-2">
            {{ form.email(class="form-control") }}
            {{ form.email.label(class="form-label") }}
          </div>
          {% if form.email.errors %}
              <ul class="errors hide" id="alert">
                  {% for error in form.email.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}

          <div class="form-outline mb-2">
            {{ form.password(class="form-control") }}
            {{ form.password.label(class="form-label") }}
          </div>
        
          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
              </div>
            </div>
        
            <div class="col">
              <!-- Simple link -->
              <a href="#!">Forgot password?</a>
            </div>
          </div>
        
          <!-- Submit button -->
          <div class="d-flex justify-content-center">
            <button type="submit"
                class="btn btn-primary btn-block btn-lg gradient-custom-4 mb-3 text-white" >Login </button>
            </div>        
          <!-- Register buttons -->
          <div class="text-center">
            <p>Not a member? <a href="/register">Register</a></p>
          </div>
        </form>
    </div>




{% endblock content %}